*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    list-style: none;
    text-decoration: none;
}
html,body{
    width:  100%;
    height: 100%;

}
.son
{
    display: flex;
    justify-content: space-around;
    background-color: palegreen;
    padding: 2rem 0;
    align-items: center;

}
.right
{
    display: flex;
    gap: 10px;
}